:root {
    --main: rgb(71, 71, 212);
    --second: rgb(255, 255, 88);
    --third: rgb(0, 0, 158);
}

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--second);
    background-color: var(--main);
}

header img {
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

header nav {
    width: 100%;
}
header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header a {
    display: flex;
    text-decoration: none;
    padding: 25px;
    margin: 10px;
    color: var(--second);
    background-color: var(--third);
    border-radius: 10px;
    font-size: 22px;
}

#about-me {
    background-color: var(--third);
    color: var(--second);
}

@media screen and (min-width: 575px){
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    header nav {
        width: auto;
    }

    header nav ul {
        justify-content: end;
    }
}