:root {
    --main: rgb(71, 71, 212);
    --second: rgb(255, 255, 88);
    --third: rgb(0, 0, 158);
}

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--second);
    background-color: var(--main);
}

header img {
    margin: 20px;
    height: 75px;
    width: auto;
}

header nav ul{
    display: flex;
    list-style: none;
}

header a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    color: var(--second);
    background-color: var(--third);
    border-radius: 10px;
}